@model IEnumerable<EditoraBLL.Models.Autor>

@{
    ViewData["Title"] = "Autores";
}

<h1>Autores</h1>

<p>
    <a asp-action="Create">Incluir Novo Autor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobreNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobreNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class=" btn btn-warning">Detalhe</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Apagar</a> 
            </td>
        </tr>
}
    </tbody>
</table>
